<header>
<%= render 'shared/nav'%>  
</header> 


<body>
<%= link_to 'Edit', edit_shopping_bag_path(@shopping_bag) %> |
<%= link_to 'Back', shopping_bags_path %>
</body>

<%= render 'shared/footer'%> 
