
<p>
  <strong>Product:</strong>
  <%= @cart_item.item %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @cart_item.cart %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
