<header>
<%= render 'shared/nav'%>  
</header> 
<body>
<main role="main">

<h1> You've successfully made a payment! </h1>

<%= link_to "Go To Items", items_path
%>

</body>
 
<%= render 'shared/footer'%> 

