
<body>
<main role="main">   
<h2 class="heading-profile "> Edit Item</h2> 
        <div class=" bg-light">


                <div class = "container new-container">
               

                        <div class = "form-width">
                        <%= render 'form', item: @item %>


                        <%= link_to 'Go to Item', @item, :class => "btn btn-sm btn-outline-secondary" %> 
                        <%= link_to 'Back', items_path, :class => "btn btn-sm btn-outline-secondary" %>
                        </div>
                </div>      
        </div>  
</main>
</body>
 


