
.main-footer  {
    border-top: 0.5px lightgray solid;
    p a {
        color: gray !important;
        text-decoration: none;
    }
    p a:hover {
        background-color: transparent !important;
        color: #CDC382 !important;  
    }

  }   
  