.main-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 150px 50px 0px 50px;
    background-color:  #a88a72; 
}

.log-in-container {
    display: flex;
    flex-direction: column;
}
.log-in-container h1{
    text-align: center;
    font-family: 'Crimson Text', serif;
}
.user-form-button-1 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    margin-bottom: -20px;   
}
.user-form-button {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.user-form-button a {
    width: 100%;
    border-radius: 25px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color:black !important;
}
.submit-button {
    color:black !important;
}
.submit-button:hover, .user-form-button a:hover {
    background-color: transparent;
    text-decoration: none;
    color: white !important;
}