
/* User sign in and sign forms. */
.border-form-div {
  margin-top: 150px;
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color:  #CDC382;   
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    h3, h4{
           text-align: center;
       
         }
  }
  .border-form-div .form-signin-heading,
  .border-form-div .checkbox {
    margin-bottom: 10px;
  }
  .border-form-div input[type="text"],
  .border-form-div input[type="email"],
  .border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

  .cancel , .log-in-other{
    margin-top: 50px;
  }






/* Tablet Styles */ /** CORE DEVISE */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .border-form-div {
      margin-top: 150px;
      max-width: 400px;
    }
     
}
/* Desktop Styles */ /* DEVISE */
@media only screen and (min-width: 996px) {
    .border-form-div {
    max-width: 600px;
    margin-top: 150px;
}
   }
