$alternate-color: #F4DBDB;
$heading-color: #a88a72;
$hover-color: brown;
$text-color: black; 
$background-2nd-color: rosybrown;
$white-color: white;
$heading-font-family: 'Nunito Sans', sans-serif;
$body-font-family: 'Nunito Sans', sans-serif;