$alternate-color: #F4DBDB;
$heading-color: #817878;   
$hover-color: black;
$text-color: black; 
$background-2nd-color: rosybrown;
$white-color: white;
$heading-font-family: 'Nunito Sans', sans-serif;
$body-font-family: 'Nunito Sans', sans-serif;