/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap"; 
 @import "variables"; 
 @import "nav"; 
 @import "user_log_sign"; 
 @import "footer"; 
 
 * {

   font-family: 'Nunito Sans', sans-serif;
 }
 

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
} 

body {
   margin: 0px;

   padding: 0px;
   min-height: 125vh;
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 0.1fr auto 0.1fr;
   height: 100vh;
   font-family: $body-font-family;
}

/* Mobile menu */
header {
   background-color: $white-color;
   position: fixed;
   height: 70px;
   width: 100%;
}

header img {
   width: 2.5em; 
}

main {
   margin: auto;
   width: 100%;
   max-width: 1100px;
   margin-bottom: 200px;
   margin-top: 150px;
}

.btn:hover , .btn-group a.btn:hover, .remove-buy-cartitem a.btn:hover, .buttons-other a.btn:hover{
   background-color: gray !important;
   color: #CDC382 !important;
}     

input[type=submit] {
   padding: 5px;
   border: solid 0.5px gray;
   border-radius: 5px;
   background-color: #CDC382 !important;
   color: black !important;
   margin-bottom: 10px;
}
input[type=submit]:hover {
   background-color: gray !important;
   color: #CDC382 !important;
}
 /*****Title headings FOR EACH PAGE FORMATTING******/
.heading-profile {
   background-color: #CDC382 !important;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   height: 100px;
   text-align: center;
   vertical-align: middle;
   line-height: 100px; 
   border-radius: 10px;
   font-size: 1.2rem;
   text-transform: uppercase;
   }


 /*****HEADINGS FOR EACH PAGE FORMATTING******/
 .page-headings {
   width: 100%;
   font-family: $heading-font-family;
   font-weight: 600;
   font-size: 3rem;
  
   
}
.page-headings span {
   color: #CDC382 !important;
   font-size: 3rem;
}  

/*****CORE FOR MOST PAGE FORMATTING******/
.core-container { 
   display: flex;
   flex-flow: row wrap;
   padding: 0;   
   margin: 0;
   margin-top: 100px; 
   margin-bottom: 100px;
}
    
.core-child, .core-child h2 {
   padding: 10px;  
   margin-right: 10px; 
   margin-left: 10px; 
}


.core-info-content {
   display: inline-block;
   margin-top: 50px;
   font-size: 1rem;
   letter-spacing: .5px;

}

.info-container {
   display: flex;
   flex-flow: row wrap;
   padding: 0;
   margin: 0;
   margin-bottom: 100px; 
}

.info-child {
   font-size: 0.75rem;
}

.info-container  h3 {
   font-size: 1.5rem;
   font-family: $heading-font-family;
}

/* Tablet Styles */ /** CORE CONTENT */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
 
.core-child h2 { 
   margin-right: 20px; 
   margin-left: 20px; 
   }
.core-child {
       display: flex;
       margin-top: -50px;
       margin-right: 20px; 
       margin-left: 20px;    
   }
.info-container {
       justify-content: space-evenly;
   }
.info-child {
       margin-right: 20px; 
       margin-left: 20px; 
          
       }
     
}
/* Desktop Styles */ /* CORE CONTENT */
@media only screen and (min-width: 996px) {

   .core-child {
       display: flex;
       justify-content: flex-start;   
       margin-top: -50px;
       margin-right: 20px; 
       margin-left: 20px; 
   }
   .info-container {
       justify-content: space-evenly;
   }
   .info-child {
       margin-right: 20px; 
       margin-left: 20px; 
       }
   }
