// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.index-page-cards {
  margin: 50px;
  display: flex;    
 
  flex-direction: row ;

}
 




.item-index-container {
  display: flex;    
  flex-wrap: wrap;
  div.column {
    padding: 10px;
  }
}
.index-item-wrapper {
  display: flex;    
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 0 15px 0 grey;
  
}
.index-item-wrapper:hover a {
  background-color: transparent !important;
  text-decoration: none;
  color:grey !important;
}

.img-size {
    width: 200px;
    justify-content: center;
    height: auto;
   
    
  }
.image-wrapper {
  border: 1px solid lightgrey; 
  margin: 20px;
}

.item-title-price {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: black;
}
 

 /****Show page Formatting******/
 

 .show-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px;
  box-shadow: 0 0 15px 0 grey;

}
 .show-image-wrap {
  display: inline;
  padding: 30px;
 }
 
 .show-image {      
   width: 300px;
   

 }

 .main-show-text {
     padding: 20px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin-top: 30px;

     p, strong {
      font-size: 1rem;
     }  
 }

  /****NEW page Formatting******/

  .new-container {
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    div {
      justify-content: center;
    }

  }