// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



/* MAIN STYLES FOR ITEMS */ /* USED BOTH ON ITEM INDEX PAGE, CART AND USER PAGE */
.item-index-container {
  display: flex;      
  flex-wrap: wrap;
}
.index-item-wrapper {
  display: flex;    
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 0 15px 0 grey;
  margin: 20px;

  .image-wrapper div.btn-group {
    margin: 10px;
   text-align: center;
  }
  
}
.index-item-wrapper:hover a {
  background-color: transparent !important;
  text-decoration: none;
  color:grey !important;
}

.img-size {
    width: 200px;
    max-height: 300px;
    justify-content: center;  
}

.item-title-price {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 5px 10px;
  color: black;
}
 
.buttons-other {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  a {
    margin: 2px;
  }
}


 /****Show page Formatting******/
 

 .show-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px;
  box-shadow: 0 0 15px 0 grey;

}
 .show-image-wrap {
  display: inline;
  padding: 30px;
 }
 
 .show-image {      
   width: 300px;
 }

 .main-show-text {
     padding: 20px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin-top: 30px;
     p, strong {
      font-size: 1rem;
     }  
 }

  /****NEW page Formatting******/

  .new-container {
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    div {
      justify-content: center;
    }

  }

  
  /****NEW and EDIT page Formatting******/
  .form-width {
    padding-top: 50px;
    max-width: 900px;
    align-self: center;
    
  }