// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-item-wrapper {
  display: flex;    
  flex-wrap: wrap;
  flex-direction: row;
}
.index-item-wrapper:hover a {
  background-color: transparent !important;
  text-decoration: none;
  color:grey !important;
}

.img-size {
    width: 200px;
    justify-content: center;
    height: auto;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
.image-wrapper {
  border: 1px solid lightgrey; 
  margin: 20px;
}

.item-title-price {
  display: flex;
  justify-content: space-evenly;
}

.edit-delete-index {
  display: flex;
  justify-content: space-evenly;
}    

 /****Show page Formatting******/

 .show-image {   
   width: 200px;
 }
 .carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: transparent !important;
 } 
 .main-show-text {
     padding: 20px;
 }
  .show-container {
    display: flex;
    flex-flow: row wrap;

  }
 