// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
    
   

@import "variables"; 
/*****CONTACT MAIN CONTENT******/

#name, #_replyto, #message {
    display: block;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border: 1px solid #ccc;
    width: 600px;
    align-self: left;
}
#message {
    height: 300px;     
}

#email-form {
    margin-right: 20px; 
    margin-left: 20px; 
}
.form-label{
 background-color: $alternate-color;
 border-radius: 25px;
 padding: 5px;
 color: $text-color;
 font-size: 1rem;
}

input[type=submit] {
    background-color: $heading-color;
    color: $white-color;
    padding: 12px 20px;
    border-radius: 30px; 
    padding: 10px 20px 10px 20px;
    font-family: $body-font-family;
    font-size: 1rem;
   
  }
input[type=submit]:hover {
    background-color: $alternate-color;
    cursor: pointer;
    color: $hover-color;
  }
input[type=submit]:active  {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* Mobile Styles */ /** CONTACT CONTENT */
@media only screen 
and (max-device-width: 767px) 
and (-webkit-min-device-pixel-ratio: 1) {
    #name, #_replyto, #message {
            width: 250px;
    }
  
}
/* Tablet Styles */ /** CONTACT CONTENT */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    #name, #_replyto, #message {
            width: 400px;
    }
    
  
}
/* Desktop Styles */ /* CONTACT CONTENT */
@media only screen and (min-width: 996px) {
   
}
/*****HOME MAIN CONTENT******/
    
.home-page-images {
margin-top: 90px;
}

.home-background {
  background-image: url('https://images.unsplash.com/photo-1545335779-4209a3efe3a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')
}

.home-main {
  margin-top: 50px;
}
.card {
  width: 18rem !important;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: left;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

