// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
    
   

@import "variables"; 




/*****HOME MAIN CONTENT******/
    
.home-page-images {     
margin-top: 90px;
}
      
.home-background {
  background-image:  url( 'https://images.unsplash.com/photo-1525562723836-dca67a71d5f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border-radius: 10px;

}

.home-main {
  margin-top: 150px;
}

.card-container{
  background-color: white;
  border-radius: 10px;
  width: 300px !important;
  float: left;
  padding: 20px;
  margin-top: 75px;
}

.card {
  width: 18rem !important;
 
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  position: relative;
 

  img, h2 , p{
    margin: 20px;
  }
 
 
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; 
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

     