// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*****PROFILE MAIN CONTENT******/
.main-container { 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-shadow: 0 0 15px 0 grey;
    
}

.main-inner-text {
    display: flex;
    flex-flow: column wrap;
    padding: 50px;
    justify-content: center;
}

.avatar-img {
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}


/*****Reviews MAIN CONTENT******/

.review-border {
    width: 200px;
    height: 200px;
}